$escura: #000;
$neutra: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@mixin display-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

